{% extends "census_template_embed.html" %}
{% load humanize %}
{% block headers %}
<style>
table tr td{
		border-bottom:1px black solid;
}
table tr.totalpop td{
		border-bottom: 2px black solid;
		font-style: italic;
}
.totalpop{
	margin-bottom: 5px;
}
table tr.header td{
	border-bottom: 3px black solid;
	border-top: 3px black solid;
	font-weight: bold;
	}
.header{
	margin-bottom: 3px;
}
</style>
{% endblock %}
{% block content %}
<h1> Census Data for {{state|upper}}</h1>
<a href="{% url embed-census-index "embed" %}">All States</a> | <a href="{% url embed_list_counties "embed",state %}">{{state|upper}} Counties</a> | <a href="{% url embed_list_cities "embed",state %}">{{state|upper}} Cities</a>
<table style="width:75%;">
	<tr class="header">
		<td>{% if sort_by != "county" %}<a href="{%url embed_list_counties "embed",state %}?sort_by=county">{% endif %}County{% if sort_by == "county" %}&nbsp;&nbsp;&nbsp; &uarr;{% endif %}{% if sort_by != "county" %}</a>{% endif %}</td>

		<td>{% if sort_by != "pop2000" %}<a href="{%url embed_list_counties "embed",state %}?sort_by=pop2000">{% endif %}2000{% if sort_by == "pop2000" %}&nbsp;&nbsp;&nbsp; &darr;{% endif %}{% if sort_by != "pop2000" %}</a>{% endif %}</td>
		<td>{% if sort_by != "pop2010" %}<a href="{%url embed_list_counties "embed",state %}?sort_by=pop2010">{% endif %}2010{% if sort_by == "pop2010" %}&nbsp;&nbsp;&nbsp; &darr;{% endif %}{% if sort_by != "pop2010" %}</a>{% endif %}</td>
		<td>{% if sort_by != "popchange" %}<a href="{%url embed_list_counties "embed",state %}?sort_by=popchange">{% endif %}Change{% if sort_by == "popchange" %}&nbsp;&nbsp;&nbsp; &darr;{% endif %}{% if sort_by != "popchange" %}</a>{% endif %}</td>
		<td>{% if sort_by != "popchangepercentage" %}<a href="{%url embed_list_counties "embed",state %}?sort_by=popchangepercentage">{% endif %}Percent Growth{% if sort_by == "popchangepercentage" %}&nbsp;&nbsp;&nbsp; &darr;{% endif %}{% if sort_by != "popchangepercentage" %}</a>{% endif %}</td>
	</tr>
	<tr class="totalpop">
		<td><a href="{%url embed_state_detail "embed",state_data.state %}">{{state_data.state|upper}} Total</a></td>
		<td>{{state_data.pop2000|apnumber|intcomma}}</td>
		<td>{{state_data.pop2010|apnumber|intcomma}} </a></td>
		<td style="background-color:{% if state_data.popchangepercentage < 0 %}#EEA223{%endif%};">{{state_data.popchange|intcomma}}</td>
		<td style="background-color:{% if state_data.popchangepercentage < 0 %}#EEA223{%endif%};">{{state_data.popchangepercentage|floatformat:2}}%</td>
	</tr>
{% if sort_by == "county" %}
	{% for county in counties|dictsort:"county_name" %}
		<tr>
			<td><a href="{% url embed_county_detail "embed",county.state,county.county_name %}">{{county.county_name|cut:"County"}}</td>
			<td>{{county.pop2000|apnumber|intcomma}}</td>
			<td>{{county.pop2010|apnumber|intcomma}} </a></td>
			<td style="background-color:{% if county.popchangepercentage < 0 %}#EEA223{%endif%};">{{county.popchange|intcomma}}</td>
			<td style="background-color:{% if county.popchangepercentage < 0 %}#EEA223{%endif%};">{{county.popchangepercentage|floatformat:2}}%</td>
		</tr>
	{% endfor %}
{% else %}
	{% for county in counties|dictsortreversed:sort_by %}
		<tr>
			<td><a href="{% url embed_county_detail "embed",county.state,county.county_name %}">{{county.county_name|cut:"County"}}</td>
			<td>{{county.pop2000|apnumber|intcomma}}</td>
			<td>{{county.pop2010|apnumber|intcomma}} </a></td>
			<td style="background-color:{% if county.popchangepercentage < 0 %}#EEA223{%endif%};">{{county.popchange|intcomma}}</td>
			<td style="background-color:{% if county.popchangepercentage < 0 %}#EEA223{%endif%};">{{county.popchangepercentage|floatformat:2}}%</td>
		</tr>
	{% endfor %}
{% endif %}




</table>
{% endblock %}