<ul class="centered">
	<li>
		<a href="{% url restaurants-browse 'A','1' %}"><p class="centeredText">Name</p></a>
	</li>
	<li>
		<a href="{% url list_neighborhoods %}"><p class="centeredText">Areas</p></a>
	</li>
	<li>
		<a href="{% url list_cuisines %}"><p class="centeredText">Cuisine</p></a>
	</li>
	<li>
		<a href="{% url list_recent_inspections 1 %}"><p class="centeredText">Inspections</p></a>
	</li>
	<li>
		<a href="{% url list_attributes %}"><p class="centeredText">Features</p></a>
	</li>
	<!-- <li>
		<a href="#"><p class="centeredText">Near Me</p></a>
	</li> -->
</ul>