{% extends "trueozarks/articlePage.html" %}
{% load image_tags %}
{% block content_header %}
<h1>Login Required</h1>
{% endblock %}
{% block content %}
		<div id="login_text">We hope you have enjoyed your complimentary access to Springfield Revealed. To continue viewing this site, please login to your News-Leader.com account.

		<a href="http://www.news-leader.com/login/" target="_new">Click Here</a> to open a new window to News-Leader.com. Login and come back to this site to continue Revealing Springfield's history
		</div>
{% endblock %}
{% block omniture %}
Login Redirect page
{% endblock %}