{% extends "trueozarks/articlePage.html" %}
{% load image_tags %}
{% block header %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="{{MEDIA_URL}}/trueozarks/js/jquery.cookie.js"></script>
<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}/tn3/skins/tn3/tn3.css"></link>
<script type="text/javascript" src="{{MEDIA_URL}}/tn3/js/jquery.tn3lite.min.js"></script>
<script type="text/javascript">

	function getUrlVars()
	{
		var vars = [], hash;
		var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
		for(var i = 0; i < hashes.length; i++)
		{
		    hash = hashes[i].split('=');
		    vars.push(hash[0]);
		    vars[hash[0]] = hash[1];
		}
		return vars;
	}


	$(document).ready(function() { 
		var $mytn3 = $('.tn3gallery').tn3({ 
			autoplay:false,
			responsive:true,
			keyNavigation:'always',
			timer_end: function(e){
				if( typeof( s ) != "undefined" )
				{
					s.pageName = "SGFREV {{profile.name|escape}} - Gallery";
					s.t();
					//console.log("logging pageview of SGFREV - {{profile.name|escapejs}} - gallery" );
				}
			},
			image:{
				stretch: true,
				clickEvent: 'click',
			  transitions:[{
				type: "grid",
				partDirection: "left",
				partEasing: "easeOutSine",
				partDuration: 300,
				method: "fade",
				diagonalStart: "bl",
				sortReverse: false,
				sort: "random",
				gridY: 5,
				gridX: 7,
				easing: "easeInQuad",
				duration: 260
			  }]
			}
		}).data('tn3'); 
		/* function to record gallery clicks */
		$('.tn3gallery').click(function()
		{
			
			if( typeof( s ) != "undefined" )
			{
				s.pageName = "SGFREV {{profile.name|escape}} - Gallery";
				s.t();
				console.log("logging pageview of SGFREV - {{profile.name|escape}} - gallery" );
				console.log(s.pageName);
			}

		});

		if(getUrlVars()["image"] != NaN || getUrlVars()["image"] != null)
		{
			if($mytn3)
			{
				$mytn3.show(parseInt(getUrlVars()["image"]));	
				$.fn.tn3.Gallery.config.autoplay = false;
			}
		
		}
		if( $.cookie('atyponid'))
		{
			//console.log( "user is logged in");
			//console.log( "deleting non logged in cookies");
			//removing the old cookies
			$.removeCookie('EMETA_NCLICK');
			$.removeCookie('EMETA_EPOCH');
			$.removeCookie('EMETA_COOKIE_CHECK');
			$.removeCookie('EMETA_NCLICK_VISITED');
			//console.log("hiding the login prompt");
			// $("#login_prompt").hide();
			//console.log("showing the thanks for loggin div");
			// $("#logged_in").show();
		}
		else
		{
			//checking if the nclick cookie is set
			if( $.cookie('EMETA_NCLICK'))
			{
				//setting max number of clicks
				var max_clicks = 20;
				//console.log( "User not logged in. " + $.cookie('EMETA_NCLICK')  + "  article(s) read");
				//if max clicks are less than how many clicks we have, we bump up our click counter	
				if( parseInt($.cookie('EMETA_NCLICK')) < max_clicks )
				{
					//check to see what page we have visited last
					//if it was this page, do NOT increment the counter
					if($.cookie("EMETA_NCLICK_VISITED") != "{{profile.name}}")
					{
						//console.log( "User not logged in. WAS: " + (20 - $.cookie('EMETA_NCLICK') ) + " free articles left");
						//incrementing the counter
						var nclick_value = parseInt($.cookie('EMETA_NCLICK'));
						nclick_value = nclick_value + 1;
						var milliseconds = (new Date).getTime();

						$.cookie('EMETA_NCLICK', nclick_value, {domain: 'news-leader.com',expires:30, path: "/"});
						$.cookie('EMETA_EPOCH', milliseconds, {domain: 'news-leader.com',expires:30, path: "/"} );
						$.cookie('EMETA_COOKIE_CHECK', 1, {domain: 'news-leader.com',expires:30, path: "/"});
						$.cookie('EMETA_NCLICK_VISITED', '{{profile.name}}', {domain: 'news-leader.com',expires:30, path: "/"});
						//console.log( "User not logged in. NOW: " + (20 - $.cookie('EMETA_NCLICK') ) + " free articles left");
						////console.log( "EMETA_EPOCH: " + $.cookie("EMETA_EPOCH"));
					}
					
				}
				else
				{
					//console.log( "User not logged in. " + $.cookie('EMETA_NCLICK')  + "  articles read");
					//console.log( "redirecting the user to a new window to login on main site");
					// window.open('http://www.news-leader.com/section/como?screen=login','login_window',"height=768,width=1024,modal=yes,alwaysRaised=yes");
					// $("#content").hide();
					// $("#login_prompt").show();
					window.location ="{% url login_page %}";

				}
			}
			else
			{
				//console.log( "User not logged in. create cookies");
				nclick_value = 1
				var milliseconds = (new Date).getTime();
				$.cookie('EMETA_NCLICK', nclick_value );
				$.cookie('EMETA_EPOCH', milliseconds );
				$.cookie('EMETA_COOKIE_CHECK', 1);
				$.cookie('EMETA_NCLICK_VISITED', 'TrueOzarksTest');
				//console.log( "User not logged in. " + (20 - $.cookie('EMETA_NCLICK') ) + " free articles left");
				//console.log( "EMETA_EPOCH: " + $.cookie("EMETA_EPOCH"));

			}
		}
		
	
	});


	  </script>
<meta property="og:title" content="Springfield Revealed - {{profile.name|escape}}: {{profile.story.headline}}"/>
<meta property="og:type" content="article"/>
<meta property="og:url" content="http://data.news-leader.com{{profile.get_absolute_url}}"/>
<meta property="og:image" content="{{profile.main_photo|scale:"600x600"}}" />
<meta property="og:site_name" content="Springfield Revealed"/>
<meta property="fb:app_id" content="164654783578465"/>
<meta property="og:description" content="{{profile.summary}}"/>
{% endblock %}
{% block title %}
	{{profile.name|escape}} - {{profile.story.headline|escape}}
{% endblock %}
{% block content_header %}
<h1>{{profile.story.headline}}</h1>
{% if profile.story.subheadline %}
	<h3>{{profile.story.subheadline}}</h3>
{% endif %}
<div id="articleLocatorBar">
	<div id="articleLocation">
		{{profile.address}}
	</div>
	<div id="articleTags">TAGS: 
		{% for tag in profile.tags.all %}
			<a href="{% url tag_detail tag.name %}">{{tag.name}}</a>{% if forloop.last %}{% else %}, {% endif %}
		{% endfor %}
	</div>
</div>
{% endblock %}
{% block content %}
	{% if profile.video_id and photos|length > 2 %}
		<div class="video" width="740" height="555">
				<!-- Start of Brightcove Player -->
				<div style="display:none">
				</div>
				<!--
				By use of this code snippet, I agree to the Brightcove Publisher T and C 
				found at https://accounts.brightcove.com/en/terms-and-conditions/. 
				-->
				<script language="JavaScript" type="text/javascript" src="http://admin.brightcove.com/js/BrightcoveExperiences.js"></script>
				<object id="myExperience2506413966001" class="BrightcoveExperience">
				  <param name="bgcolor" value="#FFFFFF" />
				  <param name="width" value="740" />
				  <param name="height" value="416" />
				  <param name="playerID" value="944343816001" />
				  <param name="playerKey" value="AQ~~,AAAACbzYVcE~,3W7kkkT03U8mb2yAtXrzvaQOnxd_Yb3U" />
				  <param name="isVid" value="true" />
				  <param name="isUI" value="true" />
				  <param name="dynamicStreaming" value="true" />
				  <param name="@videoPlayer" value="{{profile.video_id}}" />
				</object>
				<!-- 
				This script tag will cause the Brightcove Players defined above it to be created as soon
				as the line is read by the browser. If you wish to have the player instantiated only after
				the rest of the HTML is processed and the page load is complete, remove the line.
				-->
				<script type="text/javascript">brightcove.createExperiences();</script>
				<!-- End of Brightcove Player -->
			</div>
	{% else %}
		{% if photos|length > 2 %}
			<div class="tn3gallery">
				<ul>
				{% for photo in photos|dictsort:"order" %}
					{% if photo.in_gallery %}
					<li>
						<h4>{{profile.name}}</h4>
						<div class="tn3 description">{{photo.cutline|escape}}/{{photo.credit|escape}}</div>
						<a href="{{photo.picture.url}}">
							<img src="{{photo.picture|scale:"600x600"}}" />
						</a>
					</li>
					{% endif %}
				{% endfor %}
				</ul>
			</div>
		{% else %}
			<img src="{{profile.main_photo|scale:"600x600"}}" style="max-width:647px"/>
		{% endif %}
	{% endif %}
	{% if profile.story.byline %}
		<div class="byline">{{profile.story.byline}}</div>
	{% endif %}
	<div id="socialsharetools">
		<div id="facebook-share">
			<div id="fb-root"></div>
			<script>(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=164654783578465";
			fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));</script>
			<div class="fb-like" data-href="http://data.news-leader.com{{profile.get_absolute_url}}" data-send="false" data-layout="box_count" data-width="50" data-show-faces="false"></div>
		</div>
		<div id="twitter-share">
			<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-count="vertical" data-url="http://data.news-leader.com{{profile.get_absolute_url}}">Tweet</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>
		<div id="google-share">
			<!-- Place this tag where you want the share button to render. -->
			<div class="g-plus" data-action="share" data-annotation="vertical-bubble" data-height="60"></div>

			<!-- Place this tag after the last share tag. -->
			<script type="text/javascript">
			  (function() {
			    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
			    po.src = 'https://apis.google.com/js/plusone.js';
			    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
			  })();
			</script>
		</div>
	</div>
	{% for paragraph in paragraphs %}
		<p {% if forloop.first %} class="firstparagraph"{% endif %}>
			{{paragraph|safe}}
		</p>
		{% for pullquote in pullquotes %}
			{% if forloop.parentloop.counter == pullquote.position %}
				<div class="pullquote {{pullquote.style}}">{{pullquote.text|safe}}</div>
			{% endif %}
		{% endfor %}
		{% for infobox in infoboxes %}
			{% if forloop.parentloop.counter == infobox.position %}
				<div class="infobox {{infobox.style}}"><h3>{{infobox.headline|safe}}</h3>{{infobox.text|safe}}</div>
			{% endif %}
		{% endfor %}
		{% for photo in photos_in_story|dictsort:"position" %}
			{% if forloop.parentloop.counter == photo.position %}
				<div class="storyphoto {{photo.style}}">{% if photo.style == "leftbig" or photo.style == "rightbig" %} <img src="{{photo.picture|scale:"400x400"}}" />{% else %}<img src="{{photo.picture|scale:"200x200"}}" />{% endif %}<p>{{photo.cutline|safe}} / {{photo.credit}}</p></div>
			{% endif %}
		{% endfor %}
	{% endfor %}
	<!-- video stuff goes here -->
	{% if profile.video_id and photos|length > 2 %}
		<div class="tn3gallery">
			<ul>
			{% for photo in photos|dictsort:"order" %}
				{% if photo.in_gallery %}
				<li>
					<h4>{{profile.name}}</h4>
					<div class="tn3 description">{{photo.cutline|escape}}/{{photo.credit|escape}}</div>
					<a href="{{photo.picture.url}}">
						<img src="{{photo.picture|scale:"600x600"}}" />
					</a>
				</li>
				{% endif %}
			{% endfor %}
			</ul>
		</div>
{% endif %}
	<div>
		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
		<!--[if lte IE 8]>
			<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.ie.css" />
		<![endif]-->
		<script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>
		<style>
			#map { height: 200px; margin-top:20px;}
		</style>
		<div id="map"></div>
		<script>
		// create a map in the "map" div, set the view to a given place and zoom
		var map = L.map('map').setView([ {{profile.geom.y}},{{profile.geom.x}}], 14);

		// add an OpenStreetMap tile layer
		L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
			attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
		}).addTo(map);

		L.marker([{{profile.geom.y}}, {{profile.geom.x}}]).addTo(map)
				.bindPopup('Profile: {{profile.headline}}<br />');
					
		var popup = L.popup();
		</script>
	</div>
	<div id="comments">
		
		<div class="fb-comments" data-href="http://data.news-leader.com{{profile.get_absolute_url}}" data-width="740" data-num-posts="10"></div>
	</div>
{% endblock %}
{% block omniture %}
Profile: {{profile.name|escape}}
{% endblock %}