{% extends "cobrand_template.html" %}
{% load humanize %}
{% block headers %}
<title>News-Leader.com Restaurants</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="http://php.news-leader.com/css/landingPage.css" type="text/css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/css/jquery.lightbox-0.5.css" media="screen" />
<script type="text/javascript" src="{{MEDIA_URL}}/js/jquery.lightbox-0.5.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}/jquery.raty.js"></script>

{% endblock %}
{% block content %}
<script>
    $(document).ready(function(){
        $("#details").click(function () 
        {
            $("#restaurant_details").show("slow");
            $("#restaurant_inspections").hide("slow");
            $("#fb_comments").hide("slow");

            $("#details").removeClass("inactiveTab").addClass("activeTab");
            $("#inspections").removeClass("activeTab").addClass("inactiveTab");
            $("#comments").removeClass("activeTab").addClass("inactiveTab");
        });  
            
        $("#inspections").click(function () {
            $("#restaurant_details").hide("slow");
            $("#restaurant_inspections").show("slow");
            $("#fb_comments").hide("slow");

            $("#details").removeClass("activeTab").addClass("inactiveTab");
            $("#inspections").removeClass("inactiveTab").addClass("activeTab");
            $("#comments").removeClass("activeTab").addClass("inactiveTab");
        });  
        
        $("#comments").click(function () {
            $("#restaurant_details").hide("slow");
            $("#restaurant_inspections").hide("slow");
            $("#fb_comments").show("slow");

            $("#details").removeClass("activeTab").addClass("inactiveTab");
            $("#inspections").removeClass("activeTab").addClass("inactiveTab");
            $("#comments").removeClass("inactiveTab").addClass("activeTab");
        });


        function set_cookie ( name, value, path, domain )
        {
            var cookie_string = name + "=" + escape ( value );
            date = new Date();
            date.setTime( date.getTime() + ( 30 * 24 * 60 * 60 * 1000 ) );
            cookie_string += "; expires=" + date.toGMTString();
            if ( path )
                    cookie_string += "; path=" + escape ( path );
            if ( domain )
                    cookie_string += "; domain=" + escape ( domain );
            document.cookie = cookie_string;
        }

        //pretty self explanatory, get a cookie
        function get_cookie ( cookie_name )
        {
            var results = document.cookie.match ( '(^|;) ?' + cookie_name + '=([^;]*)(;|$)' );
            if ( results )
                    return ( unescape ( results[2] ) );
            else
                    return null;
        }

        //function to delete a cookie
        function delete_cookie ( cookie_name )
        {
                var cookie_date = new Date ( );  // current date & time
                cookie_date.setTime ( cookie_date.getTime() - 1 );
                document.cookie = cookie_name += "=; expires=" + cookie_date.toGMTString();
        }

        //settting our lightbox with a custom close button path
        $(".lightbox").lightBox({"imageBtnClose":"{{MEDIA_URL}}/images/lightbox-btn-close.gif"});

        //setting up our average rating object
        $("#avgrating").raty(
        {
            noRatedMsg: 'no one has rated this restaurant yet!',
            hintList: ['bad', 'poor', 'okay', 'good', 'great'],
            path:'{{MEDIA_URL}}/img/',
            readOnly:true,
            half: true,
            start: {{restaurant.rating}}
        });

        //set our variables to hold our rating and readonly stuf
        var user_rating_var;
        var user_rating_readonly;
        var restaurant_cookie = get_cookie( "restaurant" );
        var rating_cookie = get_cookie("rating")
        //if the restaurant cookie = the restaurant.id it means they voted
        if( restaurant_cookie == {{restaurant.id}} )
        {
            //so we set our rating var to the cookie value
            user_rating_var = rating_cookie;
            //and readonly to true
            user_rating_readonly = true;
        }
        else
        {
            //else they haven't voted and we start at 0 and let the user vote.
            user_rating_var = 0
            user_rating_readonly = false;
        }
        //settting up our user rating object
        $("#userrating").raty(
        {
            noRatedMsg: 'no one has rated this restaurant yet!',
            hintList: ['bad', 'poor', 'okay', 'good', 'great'],
            path:'{{MEDIA_URL}}/img/',
            readOnly: user_rating_readonly,
            half: false,
            start: user_rating_var,
            click: function(score, evt) {
                //alert('ID: ' + this.attr('id') + '\nscore: ' + score + '\nevent: ' + evt);
                $.post("{% url record_rating %}", {
                    restaurant: {{restaurant.id}},
                    rating: score,
                    },
                    function(data) {
                        //this will start the last
                        //alert(data);
                        //set the average rating to our updated average
                        $.fn.raty.start(data, "#avgrating");
                        //set the restaurant and rating cookies
                        set_cookie('restaurant', {{restaurant.id}} );
                        set_cookie('rating', score );

                });
                //
                
                //this will set our userrating to readonly.
                $.fn.raty.readOnly(true, '#userrating');
            }
        });
    });

    <!--  Votes Sum: {{restaurant.rating_sum}} -->
    <!--  Total Votes: {{restaurant.rating_total_votes}} -->
</script>
<!-- ImageReady Slices (INSIDE.REST.psd) -->
<div id="MainContainer">
    <div id="insideTopHeader_">
        <img id="insideTopHeader" src="{{MEDIA_URL}}/images/insideTopHeader.gif" width="652" height="33" alt="" />
    </div>
    <div id="insideRightRail">
        {% include "restaurants/right_rail.html" %}
    </div>
    <div id="insideLeftGradient_">
    </div>
    <div id="insideMainHeader_">
            <img id="insideMainHeader" src="{{MEDIA_URL}}/images/insideMainHeader.gif" width="375" height="63" alt="" />
    </div>
    <div id="insideRightGradient_">
        {% if restaurant.photo_url and restaurant.photo_url != "None" %}
            <a href="{{restaurant.photo_url}}" class="lightbox"><img src="{{restaurant.photo_url}}" style="width:225px; margin-top:25px;margin-left:5px;" /></a>
        {% endif %}
        {% if restaurant.geom %}
            <div style="margin-left: 5px;padding-bottom: 10px; height:245px;margin-top:25px;">
                <h5 style="color:white">Map</h5>
                <img src="http://maps.googleapis.com/maps/api/staticmap?zoom=13&size=225x225&scale=1&maptype=roadmap&markers=color:red%7Clabel:A%7C{{restaurant.geom.y}},{{restaurant.geom.x}}&sensor=false" />
                <div style="color:white;float:left;clear:both;margin-top:5px;">{{restaurant.address}}, {{restaurant.city}} {{restaurant.state}} {{restaurant.zip_code|default_if_none:""}}</div>
                <div style="color:white;float:left;clear:both:margin-top:5px;">{{restaurant.phone|default_if_none:""}}</div>
            </div>
        {% endif %}
      
    </div>
    <div id="insideMainContent_">
        <div id="restaurant_main">
            <h3><a href="{{restaurant.get_absolute_url}}">{{restaurant.name}}</a></h3>
            <div id="socialbar" style="float:right;width:125px; height:150px;border:1px dotted grey;margin:5px;padding:5px;">
                <div id="fb-like" >
                    <div id="fb-root"></div>
                    <script>(function(d){
                    var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
                    js = d.createElement('script'); js.id = id; js.async = true;
                    js.src = "//connect.facebook.net/en_US/all.js#appId=254392584600879&xfbml=1";
                    d.getElementsByTagName('head')[0].appendChild(js);
                    }(document));</script>
                    <fb:like send="false" layout="box_count" width="100" show_faces="false" font="verdana"></fb:like>
                </div>
                <!-- Matt this css hack is soo ugly!! please make my 2 buttons align without this hack" -->
                <div id="twitter" style="float: right; width:55px;margin-top: -62px;">
                    <a href="http://twitter.com/share" class="twitter-share-button" data-count="vertical" data-via="springfieldnl">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
                </div>
                <br />
                <strong>Your Rating</strong>
                <div id="userrating"></div>
                <strong>Average Rating</strong>
                <div id="avgrating"></div>
                </div>
            <h4>Restaurant Details</h4>
           
            <p><b>Address:</b> {{restaurant.address}}, {{restaurant.city}}, {{restaurant.state|default:"MO"}} {{restaurant.zip_code|default_if_none:""}}</p>
            {% if restaurant.phone %}
                <p><b>Phone:</b> {{restaurant.phone|default_if_none:"N/A"}}</p>
            {% endif %}
            <p>{{restaurant.description|safe|default:""|linebreaksbr}}</p>
            {% if restaurant.cuisine.all %}
            <p><b>Cuisine:</b> {% for cuisine in restaurant.cuisine.all %}<a href="{% url list_restaurants_cuisine cuisine.name 1 %}">{% firstof cuisine.label|title cuisine.name|title %}</a>{% if forloop.last %}{% else %}, {% endif %}{% endfor %}</p>
            {% endif %}
            {% if restaurant.hours and restaurant.hours != "None" %}
                <p><b>Hours:</b> {{restaurant.hours}}</p>
            {% endif %}
            {% if restaurant.website %}
                <p><b>Website:</b> <a href="{{restaurant.website}}" target="_new">{{restaurant.website}}</a></p>
            {% endif %}
            {% if galleries %}
                <p><b>Galler{{galleries|pluralize:"y,ies"}}:</b>
                    {% for gallery in galleries %}
                        <a href="{{gallery.gallery_url}}">{{gallery.date|date:"F j, Y"}}</a>
                    {% endfor %}
                </p>
            {% endif %}
            {% if featureds %}
                <br />
                <h4>Profile{{galleries|pluralize}}</h4>
                    <ul>
                    {% for featured in featureds %}
                        <li>
                            <a href="{{featured.external_url}}">{{featured.title|title}} - {{featured.date|date:"F j, Y"}}</a>
                            <br />
                        </li>
                    {% endfor %}
                    </ul>
                
            {% endif %}
        </div>
        <div id="bottomTabs">

            <span class="activeTab" id="details"><h2>Inside Details</h2></span>

            <span class="inactiveTab" id="inspections"><h2>Inspections</h2></span>

            <span class="inactiveTab" id="comments"><h2>Comments</h2></span>
            
        </div>

        <div id="bottomTabsContent">
            <div id="restaurant_details">
                {% if restaurant.attributes %}
                    {% for attribute in restaurant.attributes %}
                        <b>{{ attribute.name|title }}</b>: {{attribute.value|title}}<br />
                    {% endfor %}
                {% else %}
                    No information available for this restaurant yet. Feel free to give us some info about "{{restaurant.name}}" by clicking <a href="{% url update_restaurant_form restaurant.id %}">here</a>
              
                {% endif %}
            </div>
            <div id="restaurant_inspections">
                {% if inspections %}
                    {% for inspection in inspections %}
                        <div style="border-bottom:1px dotted black;">
                            <p><span style:"float-left;"><h4>{% if inspection.reinspection %}Reinspection:{% else %}Inspection:{% endif %}</h4>{{inspection.date|naturalday}}</span>
                            <br />
                            <span style=""><b>Violations</b><br />
                                <i>Critical:</i> {{inspection.critical}} <br />
                                <i>Noncritical:</i> {{inspection.noncritical}}
                            </span>
                            </p>
                            {% if inspection.critical > 0 %}
                                <p><b>Details:</b>&nbsp;&nbsp;{{inspection.critical_violations|safe}}</p>
                            {% endif %}
                            {% if inspection.notes != "" %}<p><b>Notes:</b> {{inspection.notes}}</p>{% endif %}
                        </div>
                    {% endfor %}
                    <span style="border-bottom: 1px solid black;">&nbsp;</span>
                {% endif %}
            </div>
            <div id="fb_comments">
                
                <div id="fb-root"></div>
                <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {return;}
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>
                <fb:comments href="{{restaurant.absolute_uri}}" num_posts="2" width="370"></fb:comments>
            </div>
            <br />
            <br />
            <br />
        </div>
   
</div>
<!-- End ImageReady Slices -->
{% endblock  %}
{% block omniture %}
    <script language="javascript" type="text/javascript" src="http://content.gannettonline.com/global/scripts/revsci.js"></script> 
    <script type="text/javascript" src="http://js.revsci.net/gateway/gw.js?csid=J06575" charset="ISO-8859-1"></script> 
    <script type="text/javascript" language="JavaScript"> 
    <!--
    s_account="gpaper171,gntbcstglobal";
    //--> 
    </script> 
    <!-- SiteCatalyst code version: H.3.
    Copyright 1997-2005 Omniture, Inc. More info available at
    http://www.omniture.com --> 
    <script src="http://content.gannettonline.com/global/s_code/s_code.js"></script> 
    <script><!--
    /* You may give each page an identifying name, server, and channel on
    the next lines. */
  s.pageName="data - restaurant inspections"
  s.channel=""
    s.pageType=""
    s.pageValue=""
    s.prop1=""
    s.prop2="data"
    s.prop3="data"
    s.prop4=""
    s.prop5=""
    s.prop6="news"
    s.prop7="local_news"
    s.prop16="article"
    s.prop25="Springfield:news-leader"
    s.prop50="Newspaper";

    var currentTime=new Date();
    var gciYear = currentTime.getFullYear();
    DM_addToLoc("zipcode", escape(s.prop30));
    DM_addToLoc("age", escape((gciYear-s.prop31)));
    DM_addToLoc("gender", escape(s.prop32));
    var gci_ssts=OAS_sitepage;

    gci_ssts=gci_ssts.replace(/\/article\.htm.*$/,'');
    gci_ssts=gci_ssts.replace(/\/front\.htm.*$/,'');
    gci_ssts=gci_ssts.replace(/\/index\.htm.*$/,'');
    gci_ssts=gci_ssts.replace(/\@.*$/,'');
    gci_ssts=gci_ssts.replace(/^.*\.com\//,'');

    var gci_tempossts=gci_ssts; 
    var gci_ossts=gci_tempossts.split("/")
    gci_ssts=gci_ssts.replace(/\//g,' > ');
    gci_ssts='newspaper > '+gci_ssts;

    if
    (  gci_ossts[0] == "life"
    || gci_ossts[0] == "money"
    || gci_ossts[0] == "news"
    || gci_ossts[0] == "sports"
    || gci_ossts[0] == "tech"
    || gci_ossts[0] == "travel"
    || gci_ossts[0] == "weather"
    || gci_ossts[0] == "umbrella"
    )

    {
      DM_cat(gci_ssts);
    }
    else
    {
      DM_cat('newspaper > other');
    }

    var gci_osstslen=gci_ossts.length;
    for(var i=0; i<gci_osstslen; i++) {
    if(i==0)
    s.prop17=gci_ossts[i];   // section
    if(i==1)
    s.prop18=gci_ossts[i];   // subsection
    if(i==2)
    s.prop19=gci_ossts[i];   // topic
    if(i==3)
    s.prop20=gci_ossts[i];   // Subtopic
    }
    DM_tag();

    // sets the RevSci cookie in GCION domain
    if (rsinetsegs.length > 0)
    {
      if (!RevSci.HasSegmentCookie())
      {
        RevSci.Rpc.Send(RevSci.RequestUrl(rsinetsegs));
        RevSci.Cookie.Set(revsci_Cookie, true);
      }
    }
     if(typeof rsinetsegs!='undefined'){s.prop48=(rsinetsegs.join('|')).replace(/J06575_/g,'');}else{s.prop48='no segment';}

    //-->
    </script> 

    <script><!--
      /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
        var s_code=s.t();if(s_code)document.write(s_code)//--></script> 
    <script><!--
    if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
    //--></script><noscript><img src="http://gntbcstglobal.112.2O7.net/b/ss/gntbcstglobal,gpaper171/1/H.3--NS/0" height="1" width="1" border="0" alt="" /></noscript><!--/DO NOT REMOVE/--> 
    <!-- End SiteCatalyst code version: H.3. -->
{% endblock %}
