<!--<h3>Top Rated</h3>
<h3>Most Viewed</h3>-->
<!--<h3>Yelp Reviews</h3>-->
<h3><a href="{% url restaurants-index %}">Landing Page</a></h3>
<h3 class="browse">Browse By:</h3>
<ul>
    <li>
        <a href="{% url restaurants-browse 'A','1' %}">Name</a>
    </li>
    <li>
        <a href="{% url list_cuisines %}">Cuisine type</a>
    </li>
    <li>
        <a href="#">Average price</a>
    </li>
    <li>
        <a href="{% url list_neighborhoods %}">Neighborhood</a>
    </li>
    <li>
        <a href="{% url list_recent_inspections %}">Health inspections</a>
    </li>
    <li>
        <a href="#">Special Features</a>
    </li>
    <li>
        <a href="#">Bars</a>
    </li>
    <li>
        <a href="#">Specials</a>
    </li>
</ul>
<h3><a href="{% url list_recent_inspections %}">Inspections</a></h3>
<h3><a href="{% url restaurants-search %}">Search</a></h3>



