#MainContainer {
    margin: 0 auto;
    width:960px;
}

/* Landing Page layout */
#TopHeader_ {
    float: left;
    width:960px;
    height:33px;
}

#InsideTitle {
    margin-bottom: 10px;
}

#featured {
    background:white; 
    text-decoration:none; 
    border-bottom:1px dotted black;
    padding: 10px;
}

#featureSummary {
    margin-bottom: 10px;
}

#featureSummary h3 {
    padding: 0;
    margin: 0;
}


#LeftGradientSpacer_ {
    float: left;
    width:107px;
    min-height:490px;
    background: url("http://10.37.76.226:8000/static/images/gradient1px.jpg") repeat-x;
}

#DineDrinkTitle_ {
    float: left;
    width:311px;
    height:45px;
}

#MouseoverContentWell_ {
    float: right;
    width:542px;
    min-height:490px;
    background: url("http://10.37.76.226:8000/static/images/gradient1px.jpg") repeat-x;
}

#InsideTitle_ {
    float: left;
    width:169px;
    height:62px;
}

#Spacer---kill-this_ {
    float: left;
    width:337px;
    height:62px;
}

#MenuListing_ {
    float: left;
    width:301px;
    min-height:490px;
    background: #2A0105;
    color: white;
    padding-left: 10px;
}

.ody-skin .ody-custom .main-container .ody-wrapper .content-container .container #MainContainer #MenuListing_ h3 a {
    color: white;
    font-size: 15px;
}

.ody-skin .ody-custom .main-container .ody-wrapper .content-container .container #MainContainer #MenuListing_ li a {
    color: white;
    padding-left: 15px;
}


#MouseoverContentContainer_ {
    float: left;
    width:481px;
    height:648px;
    padding: 15px 10px 10px 15px;
}

#SearchBar_ {
    float: left;
    width:960px;
    height:54px;
}

#BottomContent_ {
    float: left;
    width:960px;
    height:425px;
}

#MenuListing_ h3 {
        font: 1.6em verdana;
        text-transform: uppercase;
}

#MenuListing_ h3.browse {
    font-style: italic;
    margin-bottom: 5px;
    text-transform: none;
}

#MenuListing_ ul {
    margin-top: -10px;
}

#MenuListing_ ul li {
    font: italic 1.1em verdana;
}





/* Listings Page layout */
#ListingsTopper_ {
    float: left;
    width:649px;
    height:35px;
}

#ListingsRightRail_ {
    float: right;
    width:291px;
    min-height:100px;
    padding: 10px;
    background: yellow;
}

#ListingsLeftGradient_ {
    float: left;
    width:44px;
    height:554px;
    background: url("http://10.37.76.226:8000/static/images/gradient1px.jpg") repeat-x;
}

#ListingsTitle_ {
    float: left;
    width:517px;
    height:62px;
}

#ListingsRightGradient_ {
    float: right;
    width:88px;
    height:554px;
    background: url("http://10.37.76.226:8000/static/images/gradient1px.jpg") repeat-x;
    
}

#ListingsBottomNav_ {
    float: left;
    width:649px;
    height:64px;
}

#ListingsContentWell {
    float: left;
    width:497px;
    padding: 10px;
}

#ListingsContentWell .restaurantListing {
    margin: 10px 0;
    border-bottom: 1px solid #CACACA;
}


#ListingsContentWell .restaurantListing h3.restaurantListingName {
    font-family: verdana;
}

#ListingsContentWell .restaurantListing p.restaurantListingInfo {
    font-family: verdana;
    font-weight: bold;
    font-size: .7em;
    margin-top: -15px;
}

#ListingsContentWell .restaurantListing p.restaurantListingSummary {
    font-family: verdana;
    font-size: .7em;
}




/* Inside Restaurant Page layout */
#insideTopHeader_ {
    float:left;
    width:652px;
    height:33px;
}

#insideRightRail {
    float:right;
    width:308px;
    height:647px;
    background: yellow;
}

#insideLeftGradient_ {
    float:left;
    width:44px;
    height:551px;
    background: url("http://10.37.76.226:8000/static/images/gradient1px.jpg") repeat-x;

}

#insideMainHeader_ {
    float:left;
    width:375px;
    height:63px;
}

#insideRightGradient_ {
    float:right;
    width:233px;
    min-height:551px;
    background: url("http://10.37.76.226:8000/static/images/gradient1px.jpg") repeat-x;
}

#insideMainContent_ {
    float:left;
    width:375px;
    min-height:488px;
}

#insideBottomNav_ {
    float:left;
    width:652px;
    height:63px;
}
