{% load humanize %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"> 
	<head> 
		<!-- BEGIN title --> 
		<title>News-Leader.com | Data-Leader: Crime</title> 
		<!-- END title --> 
		<meta name="description" content="News-Leader.com,Springfield,Missouri,News,local news,headlines,stories,world news,contests" /> 
		<meta name="keywords" content="" /> 
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
		<meta http-equiv="pragma" content="no-cache"/> 
		<meta http-equiv="expires" content="0"/> 
		<meta http-equiv="cache-control" content="no-cache"/> 
		<link href="http://data-media.news-leader.com/style.css" rel="stylesheet" type="text/css"> 
		<link href="http://data-media.news-leader.com/redmond/jquery-ui-1.8.custom.css" rel="stylesheet" type="text/css"> 
	</head> 
	<body> 
		<div id="header"> 
		</div> 
		<div id="layout"> 
			<div id="#logo"> 
				<a href="#"><img id="crimescene_nl_logo" src="http://data-media.news-leader.com/images/crimescene_nl_logo.png" /></a> 
			</div>
			<div id="main_page">
				There was an error with the page. We are working in fixing it as soon as possible!.
				
			</div>
		</div>
	</body>
</html>