{% extends "blank_template.html" %}
{% block title %}
InfoCenter Admin: Calls Reverse Pub
{% endblock %}
{% block headers %}
<link href="{{MEDIA_URL}}/redmond/jquery-ui-1.8.custom.css" rel="stylesheet" type="text/css"> 
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script> 
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}/syntaxhighlighter/scripts/shCore.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}/syntaxhighlighter/scripts/shBrushPlain.js"></script>
<link href="{{MEDIA_URL}}/syntaxhighlighter/styles/shCore.css" rel="stylesheet" type="text/css" />
<link type="text/css" rel="Stylesheet" href="{{MEDIA_URL}}/syntaxhighlighter/styles/shThemeDefault.css"/>

<script>
$(document).ready( function(){
	//date pickers in the search field.
	var dates = $('#id_begin_date, #id_end_date').datepicker({
		defaultDate: "-1d",
		changeMonth: false,
		numberOfMonths: 1,
		dateFormat: 'yy-mm-dd',
		changeMonth: false,
		onSelect: function(selectedDate) {
			var option = this.id == "id_begin_date" ? "minDate" : "maxDate";
			var instance = $(this).data("datepicker");
			var date = $.datepicker.parseDate(instance.settings.dateFormat || $.datepicker._defaults.dateFormat, selectedDate, instance.settings);
			dates.not(this).datepicker("option", option, date);
		}
	});
});

</script>
{% endblock %}
{% block content %}
<h2>New Calendar stuff - Reverse Pub</h2>

	<hr />
<div>
<p>Please select a date range, then click the calendar you want to output.</p>
{# Output list of choices #}
{% for thing in list %}
	<p><a href="{% url export thing.name %}">{{thing.name}}</a></p>
{% endfor %}
</div>
{% endblock %}
