<h3>Related Stories</h3>

<h4>2011 stories</h4>
<ul>
	<li><a target="_blank" href="http://www.news-leader.com/article/20110804/NEWS04/108040374/Most-schools-fail-meet-AYP?odyssey=tab|topnews|text|FRONTPAGE">Most schools fail to meet AYP</a></li>
	<li><a target="_blank" href="http://www.news-leader.com/article/20110804/NEWS04/108040364/Record-number-will-eligible-transfer">Record number will be eligible to transfer</a></li>
	<li><a target="_blank" href="http://www.news-leader.com/article/20110804/NEWS04/108040365/Progress-not-enough-most-Missouri-schools">Progress not enough for most Missouri schools</a></li>
	<li><a target="_blank" href="http://www.news-leader.com/article/20110804/NEWS04/108040372/SPS-continues-work-waiver-from-MAP-testing">SPS continues work on waiver from MAP testing</a></li>
</ul>

<h4>2010 stories</h4>
<ul>
	<li><a target="_blank" href="http://www.news-leader.com/article/20100730/NEWS04/7300355/Springfield-School-District-AYP-Expectations-rise-faster-than-schools-performance-on-exams">Springfield School District AYP: Expectations rise faster than schools' performance on exams</a></li>
	<li><a target="_blank" href="http://www.news-leader.com/article/20100730/NEWS04/7300354/Adequate-Yearly-Progress-AYP-targets-for-the-2009-10-school-year">Adequate Yearly Progress AYP targets for the 2009-10 school year</a></li>
	<li><a target="_blank" href="http://www.news-leader.com/article/20100730/NEWS04/7300336/Things-looking-up-Bissett-Elementary">Things looking up: Bissett Elementary</a></li>
	<li><a target="_blank" href="http://www.news-leader.com/article/20100730/NEWS04/7300338/Still-weighed-down-Reed-Middle-School">Still weighed down: Reed Middle School</a></li>
	<li><a target="_blank" href="http://www.news-leader.com/assets/pdf/DO161645730.PDF">AYP Targets</a></li>
	<li><a target="_blank" href="http://www.news-leader.com/article/20100801/NEWS04/8010347/1007/NEWS01/Ozarks-schools-improve-in-reading--math">Ozarks schools improve in reading, math</a></li>
	<li><a target="_blank" href="http://www.news-leader.com/article/20100801/NEWS04/8010361/1007/NEWS01/Christian-County-schools-find-benchmarks-harder-to-meet">Christian County schools find benchmarks harder to meet</a></li>
	<li><a target="_blank" href="http://www.news-leader.com/article/20100801/NEWS04/8010357/1007/NEWS01/No-Child-Left-Behind-forces-closer-look-at-weak-areas">No Child Left Behind forces closer look at weak areas</a></li>
	<li><a target="_blank" href="http://www.news-leader.com/article/20100804/NEWS04/8040427/More-Springfield-students-will-be-able-to-switch-to-higher-performing-schools-this-year-officials-say">More Springfield students will be able to switch to higher performing schools this year, officials say</a></li>
</ul>
<br />
<br />
<br />
<br />
<br />

