{% extends "cobrand_template.html" %}
{% load humanize %}
{% block headers %}
<title>2011 MAP results</title>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script language="javascript">AC_FL_RunContent = 0;</script>
<script language="javascript"> DetectFlashVer = 0; </script>
<script src="{{MEDIA_URL}}/AC_RunActiveContent.js" language="javascript"></script>
<script language="JavaScript" type="text/javascript">
<!--
var requiredMajorVersion = 10;
var requiredMinorVersion = 0;
var requiredRevision = 45;
-->
</script>
{% endblock %}
{% block content %}
<div style="padding-top: 25px;">
	<h1>2011 MAP results: {{district}}</h1>
	<p>The database below contains MAP results for {{district}} schools. Use the drop down menus to change the views, and move your mouse over the dots to see individual results for each school.</p>
	<p><h3>2011 Cutoffs</h3>
		Every year, Adequate Yearly Progress is measured by the percentage of students, overall and in subgroups, that meet a set target. The law requires all schools to reach 100 percent of the targets by 2014.
		<ul>
			<li>75.5 percent proficient in communication arts.</li>
			<li>72.5 percent proficient in math.</li>
			<li>93 percent attendance rate, or improvement, in elementary and middle schools.</li>
			<li>85 percent graduation rate, or steady improvement, in high schools.</li>
		</ul>
	</p>
	<hr />
	<div style="margin-bottom: 20px;">
		<h3 style="margin-bottom: 2px">School Detail</h3>
		School District: <select id="district">
			{% spaceless %}
			{% for schl_district in districts %}
				<option value="{{schl_district.name}}" {% if schl_district.name ==  district %}SELECTED{% endif %}>{{schl_district.name}}</option>
			{% endfor %}
			{% endspaceless %}
			</select>
		School: <select id="school">
			{% spaceless %}
			{% for school in schools %}
				{% ifchanged school.school_type %}<option disabled="disabled">{% if school.school_type == "elementary" %}---- Elementary Schools{% endif %}{% if school.school_type == "middle" %}---- Middle Schools{% endif %}{% if school.school_type == "high" %}---- High Schools{% endif %}</option>{% endifchanged %}
				<option value="{{school.name}}"{% if school.name == school_name %} SELECTED{% endif %}>{{school.name|title}}</option>
			{% endfor %}
			{% endspaceless %}
			</select>
		<span style="padding-left:50px;"><a href="{% url display_ayp %}">Click here for School Comparisons</a></span>
	</div>
<script language="JavaScript" type="text/javascript">
<!--
if (AC_FL_RunContent == 0 || DetectFlashVer == 0) {
	alert("This page requires AC_RunActiveContent.js.");
} else {
	var hasRightVersion = DetectFlashVer(requiredMajorVersion, requiredMinorVersion, requiredRevision);
	if(hasRightVersion) { 
		AC_FL_RunContent(
			'codebase', 'http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=10,0,45,2',
			'width', '500',
			'height', '400',
			'scale', 'scale',
			'salign', 'TL',
			'bgcolor', '#777788',
			'wmode', 'opaque',
			'movie', 'charts',
			'src', 'charts',
			'FlashVars', 'timeout=10&retry=2&spinning_wheel=true&library_path=charts_library&xml_source={% url get_school_ayp_xml2 district %}?school=' + $("#school").val(), 
			'id', 'my_chart',
			'name', 'my_chart',
			'menu', 'true',
			'allowFullScreen', 'true',
			'allowScriptAccess','always',
			'quality', 'high',
			'align', 'middle',
			'pluginspage', 'http://www.macromedia.com/go/getflashplayer',
			'play', 'true',
			'devicefont', 'false'
			); 
	} else { 
		var alternateContent = 'This content requires the Adobe Flash Player 10. '
		+ '<u><a href=http://www.macromedia.com/go/getflash/>Get Flash Player 10</a></u>.';
		document.write(alternateContent); 
	}
}

function update_chart( school )
{
	// the update url to download the xml update from
	url = "{% url get_school_ayp_xml2 district %}?school=" + school;
	// show a spinning wheel while downloading the update
	spinning_wheel = true; 
	// number of seconds to wait before a download times out
	timeout = 30; 
	// number of times to try downloading before displaying an error
	retry = 2; 
	// the update mode (see the update function)
	mode = "reset";
	//update chart
	document.my_chart.Update_URL( url, spinning_wheel, timeout, retry, mode );   
}

$(document).ready( function(){
	//change code
	$("#school").change( function(){
		update_chart( $("#school").val() );
	});
	$("#district").change( function(){
		window.location = "{% url get_schools %}?district=" + $(this).val();
	});
	
});

// -->
</script>
<noscript>
	<P>This content requires JavaScript.</P>
</noscript>
<br />
<br />
<br />
</div>
<hr />
<div>
	{% include "schools/related_stories.html" %}
</div>
<script language="javascript" type="text/javascript" src="http://content.gannettonline.com/global/scripts/revsci.js"></script>
<script type="text/javascript" src="http://js.revsci.net/gateway/gw.js?csid=J06575" charset="ISO-8859-1"></script>
<script type="text/javascript" language="JavaScript">
<!--
s_account="gpaper171,gntbcstglobal";
//--> 
</script>
<!-- SiteCatalyst code version: H.3.
Copyright 1997-2005 Omniture, Inc. More info available at
http://www.omniture.com -->
<script src="http://content.gannettonline.com/global/s_code/s_code.js"></script>
<script><!--
/* You may give each page an identifying name, server, and channel on
the next lines. */
s.pageName="2010 AYP Charts - School Detail"
s.server=""     // Do Not Alter
s.channel=""
s.pageType=""
s.pageValue=""
s.prop1=""
s.prop2="data"
s.prop3="data"
s.prop4=""
s.prop5=""
s.prop6="news"
s.prop7="local_news"
s.prop16="article"
s.prop25="Springfield:news-leader"
s.prop50="Newspaper";

var currentTime=new Date();
var gciYear = currentTime.getFullYear();
DM_addToLoc("zipcode", escape(s.prop30));
DM_addToLoc("age", escape((gciYear-s.prop31)));
DM_addToLoc("gender", escape(s.prop32));
var gci_ssts=OAS_sitepage;

gci_ssts=gci_ssts.replace(/\/article\.htm.*$/,'');
gci_ssts=gci_ssts.replace(/\/front\.htm.*$/,'');
gci_ssts=gci_ssts.replace(/\/index\.htm.*$/,'');
gci_ssts=gci_ssts.replace(/\@.*$/,'');
gci_ssts=gci_ssts.replace(/^.*\.com\//,'');

var gci_tempossts=gci_ssts; 
var gci_ossts=gci_tempossts.split("/")
gci_ssts=gci_ssts.replace(/\//g,' > ');
gci_ssts='newspaper > '+gci_ssts;

if
(  gci_ossts[0] == "life"
|| gci_ossts[0] == "money"
|| gci_ossts[0] == "news"
|| gci_ossts[0] == "sports"
|| gci_ossts[0] == "tech"
|| gci_ossts[0] == "travel"
|| gci_ossts[0] == "weather"
|| gci_ossts[0] == "umbrella"
)

{
  DM_cat(gci_ssts);
}
else
{
  DM_cat('newspaper > other');
}

var gci_osstslen=gci_ossts.length;
for(var i=0; i<gci_osstslen; i++) {
if(i==0)
s.prop17=gci_ossts[i];   // section
if(i==1)
s.prop18=gci_ossts[i];   // subsection
if(i==2)
s.prop19=gci_ossts[i];   // topic
if(i==3)
s.prop20=gci_ossts[i];   // Subtopic
}
DM_tag();

// sets the RevSci cookie in GCION domain
if (rsinetsegs.length > 0)
{
  if (!RevSci.HasSegmentCookie())
  {
    RevSci.Rpc.Send(RevSci.RequestUrl(rsinetsegs));
    RevSci.Cookie.Set(revsci_Cookie, true);
  }
}
 if(typeof rsinetsegs!='undefined'){s.prop48=(rsinetsegs.join('|')).replace(/J06575_/g,'');}else{s.prop48='no segment';}

//-->
</script>

<script><!--
/************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
var s_code=s.t();if(s_code)document.write(s_code)//--></script>
<script><!--
if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
//--></script><noscript><img src="http://gntbcstglobal.112.2O7.net/b/ss/gntbcstglobal,gpaper171/1/H.3--NS/0" height="1" width="1" border="0" alt="" /></noscript><!--/DO NOT REMOVE/-->
<!-- End SiteCatalyst code version: H.3. -->
{% endblock %}
